<html>
    
<head>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
  </script>
  <style>
    .zc-ref {
      display: none;
    }
  </style>
</head>

<body>
  {% block content %}
  <div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a></div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">

    var test_3 = [0, 0, 0, 0, 0];
    var test_4 = [0, 0, 0, 0, 0];
    var test_6 = [0, 0, 0, 0, 0];
    var test_7 = [0, 0, 0, 0, 0];
    var test_9 = [0, 0, 0, 0, 0];
    var test_10 = [0, 0, 0, 0, 0];
    $(document).ready(function() {
      {% for grade in grades %}
        fc(JSON.parse(JSON.stringify('{ "month": "{{ grade.month }}", "subject": "{{ grade.subject }}", "grade": "{{ grade.grade }}" }')));
      {% endfor %}
      myConfig.graphset[0].series[0].values = [add_array_value(test_3), add_array_value(test_4), add_array_value(test_6), add_array_value(test_7), add_array_value(test_9), add_array_value(test_10)];
      myConfig.graphset[2].series[0].values = [test_3[0], test_4[0], test_6[0], test_7[0], test_9[0], test_10[0]];
      myConfig.graphset[2].series[1].values = [test_3[1], test_4[1], test_6[1], test_7[1], test_9[1], test_10[1]];
      myConfig.graphset[2].series[2].values = [test_3[2], test_4[2], test_6[2], test_7[2], test_9[2], test_10[2]];
      myConfig.graphset[2].series[3].values = [test_3[3], test_4[3], test_6[3], test_7[3], test_9[3], test_10[3]];
      myConfig.graphset[2].series[4].values = [test_3[4], test_4[4], test_6[4], test_7[4], test_9[4], test_10[4]];
      
      zingchart.render({
        id: 'myChart',
        data: myConfig,
        height: 500,
        width: '100%'
      });
    });

    function fc(grade) {
        grade = JSON.parse(grade);
        if(String(grade.month).indexOf("3월") != -1) put_value(test_3, get_i(grade), grade.grade)
        else if(String(grade.month).indexOf("4월") != -1) put_value(test_4, get_i(grade), grade.grade)
        else if(String(grade.month).indexOf("6월") != -1) put_value(test_6, get_i(grade), grade.grade)
        else if(String(grade.month).indexOf("7월") != -1) put_value(test_7, get_i(grade), grade.grade)
        else if(String(grade.month).indexOf("9월") != -1) put_value(test_9, get_i(grade), grade.grade)
        else if(String(grade.month).indexOf("10월") != -1) put_value(test_10, get_i(grade), grade.grade)
    }

    function get_i(grade) {
        if (String(grade.subject).indexOf("국어") != -1) return 0
        else if (String(grade.subject).indexOf("수학(가)") != -1) return 1
        else if (String(grade.subject).indexOf("수학(나)") != -1) return 2
        else if (String(grade.subject).indexOf("영어") != -1) return 3
        else return 4
    }

    function put_value(array, i, value) {
        array[i] = parseInt(value)
    }

    function add_array_value(array) {
        var sum = 0;
        for (i = 0; i < array.length; i++) {
            sum += array[i]
        }
        return sum / array.length;
    }
    
    zingchart.THEME = "classic";
    var myConfig = {
      "background-color": "#ecf2f6",
      "graphset": [{
        "type": "bar",
        "background-color": "#fff",
        "border-color": "#dae5ec",
        "border-width": "1px",
        "height": "30%",
        "width": "96%",
        "x": "2%",
        "y": "3%",
        "title": {
          "margin-top": "7px",
          "margin-left": "9px",
          "font-family": "Arial",
          "text": "GRADE",
          "background-color": "none",
          "shadow": 0,
          "text-align": "left",
          "font-size": "11px",
          "font-weight": "bold",
          "font-color": "#707d94"
        },
        "scale-y": {
          "values": "0:100:50",
          "max-ticks": 4,
          "max-items": 4,
          "line-color": "none",
          "tick": {
            "visible": false
          },
          "item": {
            "font-color": "#8391a5",
            "font-family": "Arial",
            "font-size": "10px",
            "padding-right": "5px"
          },
          "guide": {
            "rules": [{
                "rule": "%i == 0",
                "line-width": 0
              }, {
                "rule": "%i > 0",
                "line-style": "solid",
                "line-width": "1px",
                "line-color": "#d2dae2",
                "alpha": 0.4
              }

            ]
          }
        },
        "scale-x": {
          "items-overlap": true,
          "max-items": 9999,
          "values": ["3월", "4월", "6월", "7월", "9월", "10월"],
          "offset-y": "1px",
          "line-color": "#d2dae2",
          "item": {
            "font-color": "#8391a5",
            "font-family": "Arial",
            "font-size": "11px",
            "padding-top": "2px"
          },
          "tick": {
            "visible": false,
            "line-color": "#d2dae2"
          },
          "guide": {
            "visible": false
          }
        },
        "plotarea": {
          "margin": "45px 20px 38px 45px"
        },
        "plot": {
          "bar-width": "33px",
          "hover-state": {
            "visible": false
          },
          "animation": {
            "delay": 500,
            "effect": "ANIMATION_SLIDE_BOTTOM"
          },
          "tooltip": {
            "font-color": "#fff",
            "font-family": "Arial",
            "font-size": "11px",
            "border-radius": "6px",
            "shadow": false,
            "padding": "5px 10px",
            "background-color": "#707e94"
          }
        },
        "series": [{
          "values": [add_array_value(test_3), add_array_value(test_4), add_array_value(test_6), add_array_value(test_7), add_array_value(test_9), add_array_value(test_10)],
          "styles": [{
            "background-color": "#4dbac0"
          }, {
            "background-color": "#25a6f7"
          }, {
            "background-color": "#ad6bae"
          }, {
            "background-color": "#707d94"
          }, {
            "background-color": "#f3950d"
          }, {
            "background-color": "#e62163"
          }, {
            "background-color": "#4e74c0"
          }, {
            "background-color": "#9dc012"
          }]
        }]
      }, {
        "type": "hbar",
        "background-color": "#fff",
        "border-color": "#dae5ec",
        "border-width": "1px",
        "x": "2%",
        "y": "35.2%",
        "height": "63%",
        "width": "30%",
        "title": {
          "margin-top": "7px",
          "margin-left": "9px",
          "text": "FIRST RATING TEST CUT IN 2019 CSAT",
          "background-color": "none",
          "shadow": 0,
          "text-align": "left",
          "font-family": "Arial",
          "font-size": "11px",
          "font-color": "#707d94"
        },
        "scale-y": {
          "line-color": "none",
          "tick": {
            "visible": false
          },
          "item": {
            "visible": false
          },
          "guide": {
            "visible": false
          }
        },
        "scale-x": {
          "values": ["한국사", "영어", "수학(나)", "수학(가)", "국어"],
          "line-color": "none",
          "tick": {
            "visible": false
          },
          "item": {
            "width": 200,
            "text-align": "left",
            "offset-x": 206,
            "offset-y": -12,
            "font-color": "#8391a5",
            "font-family": "Arial",
            "font-size": "11px",
            "padding-bottom": "8px"
          },
          "guide": {
            "visible": false
          }
        },
        "plot": {
          "bars-overlap": "100%",
          "bar-width": "12px",
          "thousands-separator": ",",
          "tooltip": {
            "font-color": "#ffffff",
            "background-color": "#707e94",
            "font-family": "Arial",
            "font-size": "11px",
            "border-radius": "6px",
            "shadow": false,
            "padding": "5px 10px"
          },
          "hover-state": {
            "background-color": "#707e94"
          },
          "animation": {
            "delay": 500,
            "effect": "ANIMATION_EXPAND_LEFT"
          }
        },
        "plotarea": {
          "margin": "50px 15px 10px 15px"
        },
        "series": [{
          "values": [40, 90, 88, 92, 86],
          "z-index": 2,
          "styles": [{
            "background-color": "#4dbac0"
          }, {
            "background-color": "#4dbac0"
          }, {
            "background-color": "#4dbac0"
          }, {
            "background-color": "#4dbac0"
          }, {
            "background-color": "#4dbac0"
          }, {
            "background-color": "#4dbac0"
          }],
          "tooltip-text": "%node-value점"
        }, {
          "max-trackers": 0,
          "values": [9, 9, 9, 9, 9, 9],
          "data-rvalues": [],
          "background-color": "#d9e4eb",
          "z-index": 1,
          "value-box": {
            "visible": true,
            "offset-y": "-12px",
            "offset-x": "-54px",
            "text-align": "right",
            "font-color": "#8391a5",
            "font-family": "Arial",
            "font-size": "11px",
            "text": "%data-rvalues",
            "padding-bottom": "8px"
          }
        }]
      }, {
        "type": "line",
        "background-color": "#fff",
        "border-color": "#dae5ec",
        "border-width": "1px",
        "width": "64%",
        "height": "63%",
        "x": "34%",
        "y": "35.2%",
        "title": {
          "margin-top": "7px",
          "margin-left": "12px",
          "text": "GRADE GRAPH",
          "background-color": "none",
          "shadow": 0,
          "text-align": "left",
          "font-family": "Arial",
          "font-size": "11px",
          "font-color": "#707d94"
        },
        "plot": {
          "animation": {
            "delay": 500,
            "effect": "ANIMATION_SLIDE_LEFT"
          }
        },
        "plotarea": {
          "margin": "50px 25px 70px 46px"
        },
        "scale-y": {
          "values": "0:100:25",
          "line-color": "none",
          "guide": {
            "line-style": "solid",
            "line-color": "#d2dae2",
            "line-width": "1px",
            "alpha": 0.5
          },
          "tick": {
            "visible": false
          },
          "item": {
            "font-color": "#8391a5",
            "font-family": "Arial",
            "font-size": "10px",
            "padding-right": "5px"
          }
        },
        "scale-x": {
          "line-color": "#d2dae2",
          "line-width": "2px",
          "values": ["Mar", "Apr", "Jun", "Jul", "Sep", "Oct"],
          "tick": {
            "line-color": "#d2dae2",
            "line-width": "1px"
          },
          "guide": {
            "visible": false
          },
          "item": {
            "font-color": "#8391a5",
            "font-family": "Arial",
            "font-size": "10px",
            "padding-top": "5px"
          }
        },
        "legend": {
          "layout": "x4",
          "background-color": "none",
          "shadow": 0,
          "margin": "auto auto 15 auto",
          "border-width": 0,
          "item": {
            "font-color": "#707d94",
            "font-family": "Arial",
            "padding": "0px",
            "margin": "0px",
            "font-size": "9px"
          },
          "marker": {
            "show-line": "true",
            "type": "match",
            "font-family": "Arial",
            "font-size": "10px",
            "size": 4,
            "line-width": 2,
            "padding": "3px"
          }
        },
        "crosshair-x": {
          "lineWidth": 1,
          "line-color": "#707d94",
          "plotLabel": {
            "shadow": false,
            "font-color": "#000",
            "font-family": "Arial",
            "font-size": "10px",
            "padding": "5px 10px",
            "border-radius": "5px",
            "alpha": 1
          },
          "scale-label": {
            "font-color": "#ffffff",
            "background-color": "#707d94",
            "font-family": "Arial",
            "font-size": "10px",
            "padding": "5px 10px",
            "border-radius": "5px"
          }
        },
        "tooltip": {
          "visible": false
        },
        "series": [{
          "values": [test_3[0], test_4[0], test_6[0], test_7[0], test_9[0], test_10[0]],
          "text": "국어",
          "line-color": "#4dbac0",
          "line-width": "2px",
          "shadow": 0,
          "marker": {
            "background-color": "#fff",
            "size": 3,
            "border-width": 1,
            "border-color": "#36a2a8",
            "shadow": 0
          },
          "palette": 0
        }, {
          "values": [test_3[1], test_4[1], test_6[1], test_7[1], test_9[1], test_10[1]],
          "text": "수학(가)",
          "line-width": "2px",
          "line-color": "#25a6f7",
          "shadow": 0,
          "marker": {
            "background-color": "#fff",
            "size": 3,
            "border-width": 1,
            "border-color": "#1993e0",
            "shadow": 0
          },
          "palette": 1,
          "visible": 1
        }, {
          "values": [test_3[2], test_4[2], test_6[2], test_7[2], test_9[2], test_10[2]],
          "text": "수학(나)",
          "line-color": "#ad6bae",
          "line-width": "2px",
          "shadow": 0,
          "marker": {
            "background-color": "#fff",
            "size": 3,
            "border-width": 1,
            "border-color": "#975098",
            "shadow": 0
          },
          "palette": 2,
          "visible": 1
        }, {
          "values": [test_3[3], test_4[3], test_6[3], test_7[3], test_9[3], test_10[3]],
          "text": "영어",
          "line-color": "#4dbac0",
          "line-width": "2px",
          "shadow": 0,
          "marker": {
            "background-color": "#fff",
            "size": 3,
            "border-width": 1,
            "border-color": "#36a2a8",
            "shadow": 0
          },
          "palette": 0
        }, {
          "values": [test_3[4], test_4[4], test_6[4], test_7[4], test_9[4], test_10[4]],
          "text": "한국사",
          "line-color": "#f3950d",
          "line-width": "2px",
          "shadow": 0,
          "marker": {
            "background-color": "#fff",
            "size": 3,
            "border-width": 1,
            "border-color": "#d37e04",
            "shadow": 0
          },
          "palette": 3
        }]
      }]
    };
  </script>
  {% endblock %}
  
</body>

</html>

